:root {
        --couleur-primaire : #07357d;
}

/* pour le Voilier soit de la couleur du thème */
svg {
   fill: var(--couleur-primaire);
   stroke: var(--couleur-primaire);
}

/* Le "logo" */
div.container {
   background-image: url(https://raw.githubusercontent.com/t-isaac/test-website-repo-3796/a941870dad169f45546a11627b81e7aa254f52e1/images/dessin.png);
   background-repeat: no-repeat;
   background-position: left center;
   background-size: contain;
}
@media only screen and (max-width:430px) {
  div.container{
      background-size: 40%; }
}
@media only screen and (max-width:300px) and (min-width:270px) {
  div.container{
      background-size: 35%; }
}
@media only screen and (max-width:270px) and (min-width:250px) {
  div.container{
      background-size: 30%; }
}
@media only screen and (max-width:250px) and (min-width:230px) {
  div.container{
      background-size: 25%; }
}

/* pour inverser Accueil et Articles */
header ul {
  flex-direction: row-reverse;
}

header a[href~="images"] {
   display: none;
}


/* des classe qui permettent d'aligner à gauche, au centre ou à droite des images (a priori) avec ou sans le caractère flottant*/
.GF {
   float: left;
   margin-right: 3rem;
}
.GNF {
   text-align: left;
}
.DF {
   float: right;
   margin-left: 3rem;
}
.DNF {
   text-align: right;
}
.CC {
   margin: auto;
}




#Voilier {
   float: left;
   margin-left: 0rem;
}


/* Sur la page article, effacer les ligne de séparation et les Lire l'article */
hr, article.blog-item > a {
  display: none;
}

/* diminuer la taille des titres d'articles + les souligner + prévoir une transition quand on passe avec la souris sur un titre*/
.blog-item h2 a {
  font-size: 1.25rem;
  text-decoration: underline;
  transition: 0.1s;
}
/* agrandir les titres quand on passe dessus avec la souris + élargir la ligne qui souligne */
.blog-item h2 a:hover {
  font-size: 1.5rem;
}
/* changer la couleur d'un titre quand il a déjà été visité */
.blog-item h2 a:visited {
  color: silver;
}


/* réduire l'espacement entre les titres d'articles */
.blog-item, .blog-item h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}