:root {
        --couleur-primaire : #07357d;
    }

header ul {
  flex-direction: row-reverse;
}

hr, article.blog-item > a {
  display: none;
}

.blog-item h2 a {
  font-size: 1.25rem;
  text-decoration: underline;
}

